*  {
    box-sizing: border-box;
}

#loading {
    width: 100px;
    height: 100px;
    background: url(img/loading.gif) no-repeat center/cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999;
    display: none;
}

#loading.active {
    display: block;
}

body {
    font-family: Arial;
    padding-top: 127px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    padding: 0px 10px 5px 10px;
    box-sizing: border-box;
}

/* 갤러리 영역 스타일 */
.gallery {
    margin: 0;
    padding: 0;
    list-style-type: none;

    /* 개별 목록 */
    li {

        /* 목록정의 각 항목 사이의 구분선 */
        border-bottom: 1px dotted #ccc;

        &:first-child {
            border-top: 1px dotted #ccc;
        }

        &:hover {
            /* background-color: rgba(255, 255, 0, 0.1); */
            background-color: #ff03;
        }

        /* 링크 영역 크기 확장 및 글자 처리 */
        a {
            display: block;
            width: auto;
            padding: 5px;
            color: #222;
            text-decoration: none;

            /** 텍스트를 감싸는 블록의 부모 요소에게 position 부여 */
            /* <a>태그 영역 안에서 position속성을 사용해야 하는 요소가 있다면 필수 적용!!! */
            position: relative;

            /* 이미지가 들어 있는 <span> 및 이미지 크기 처리 */
            .thumb {
                width: 80px;
                height: 80px;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            /* 텍스트를 감싸는 블록 */
            .text {
                display: block;
                width: 100%;
                position: absolute;
                left: 0px;
                top: 21px;
                padding-left: 100px;
                padding-right: 10px;

                /* 제목 + 내용 공통 */
                span {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    /* 제목 글자크기, 굵기, 줄간격 */
                    &.title {
                        font-size: 17px;
                        font-weight: bold;
                        line-height: 150%;
                    }

                    /* 내용 글자크기, 줄간격 */
                    &.desc {
                        font-size: 14px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}