<!-- Add LaTex function -->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({ 
        extensions: ["tex2jax.js"], 
        jax: ["input/TeX", "output/HTML-CSS"], 
        tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], 
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ], 
        processEscapes: true }, 
        "HTML-CSS": { availableFonts: ["TeX"] } 
    });
</script>
<script>
    const progressFunc = () => {
        const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        const scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
    };

    window.addEventListener("load", progressFunc);
    window.addEventListener("scroll", progressFunc);
</script>
