<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZ7PJ3DB');
        </script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        <meta name="google" content="notranslate">
        <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
        {% seo title=false %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="page-enter" content="blendTrans(duration=0.3)">
        <meta http-equiv="page-exit" content="blendTrans(duration=0.3)">
        <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css" />
        <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ7PJ3DB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
        <nav id="top" class="site-navigation">
            <div class="inner">
                <button id="menu-toggle" aria-expanded="false">Menu</button>
                <div class="nav-menu">
                    <ul class="menu">
                        {% for link in site.navigation %} {% assign current = nil %} {% if page.url == link.url %} {% assign current = 'nav-current' %} {% endif %}
                        <li class="{{ current }}">
                            <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- .nav-menu -->
                <a class="print-button fill-horizontal" href="#" onclick="window.print(); return false;"><span class="screen-reader-text">Print</span></a>
                <a class="subscribe-button fa-feed square fill-horizontal" href="{{site.baseurl}}/feed.xml"><span class="screen-reader-text">Subscribe</span></a>
            </div>
            <!-- .inner -->
        </nav>
        <!-- .site-navigation -->
        <header class="site-header">
            <div class="inner">
                <h1 class="site-title">
                    <a class="logo-text" href="{{ site.baseurl }}/">{{site.title}}</a>
                </h1>
                <p class="site-description">{{site.tagline}}</p>
            </div>
            <!-- .inner -->
        </header>
        {{content}} {% include footer.html %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/custom.js"></script>
        {% include scripts.html %}
    </body>
</html>
